@charset "UTF-8";
/* CSS Document */

body{
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	background-image: url("images/logo.png");
	background-repeat: repeat;
	background-size:50px;
}
